{
  "ft:markdown": {
    "autoindent": true,
    "rmtrailingws": false,
    "tabsize": 2,
    "tabstospaces": true
  },
  "ft:powershell": {
    "autoindent": true,
    "tabsize": 4,
    "tabstospaces": true
  },
  "ft:python": {
    "autoindent": true,
    "ruler": 80,
    "tabsize": 4,
    "tabstospaces": true
  },
  "ft:shell": {
    "autoindent": true,
    "ruler": 80,
    "tabsize": 4,
    "tabstospaces": true
  },
  "ft:terraform": {
    "autoindent": true,
    "tabsize": 2,
    "tabstospaces": true
  },
  "ft:yaml": {
    "autoindent": false,
    "tabsize": 2,
    "tabstospaces": true
  },
  "glob:*.sls": {
    "autoindent": false,
    "tabsize": 2,
    "tabstospaces": true
  }
}
